/* ================================= 
  Base Element Styles
==================================== */

body {
	font-family: 'Lily Script One', cursive;
	line-height: 1.25;
	color: #241715;
	margin: 10px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	line-height: 15px;
}

h2,
h3,
a {
	color: #294D4A;
	text-decoration: underline #241715; 
}

img {
	height: 350px;
	width: 250px;
	border: solid #241715;
	border-radius: 20%;
}
#bodyTitle {
	color: #294D4A;
	text-align: center;
	text-decoration: underline #241715;
	font-size: 3rem;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25rem;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	color: #294D4A;
}
.name a:hover,
.main-nav a:hover {
	color: #FFAF87;
}

/* ---- Layout Containers ---- */

.banner,
.main-footer,
.row {
	text-align: center;
}
.banner {
	color: #241715;
	background: #9684A1;
	padding: 1rem 0;
	}
.col {
	padding-right: 1rem;
	padding-left: 1rem;
	margin-top: 15px;
	}
.main-footer {
	background: #9684A1;
	color: #241715;;
	padding: 2rem 0;
	margin-top: 30px;
}

.row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	width: auto;
	justify-content: center;
}
	
/* ---- Page Elements ---- */

.logo {
	width: 80%;
	cursor: pointer;
	margin: 10px;
	border: solid #241715;
	border-radius: 15%;
	
}
.headline {
	margin-bottom: 10px;
	font-size: 1.5rem;
	color: #294D4A
}

/* #responseText {
	font-size: 1rem;
} */


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 750px) {
	
	.main-header,
	.main-nav
	 {
		display: flex;
	}
	.main-header{
		flex-direction: column;
		align-items: center;
	}

	.logo {
		width: 590px;
	}
	
		
}
@media (min-width: 1250px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}