/* ================================= 
  Base Element Styles
==================================== */


.row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	width: auto;
	justify-content: center;
	}

body {
	font-family: 'Lily Script One', cursive;
	line-height: 1.6;
	color: #143028;
	margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}
h2,
h3,
a {
	color: #ABA9F7;
}
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}

img {
	height: 400px;
	width: 300px;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #ABA9F7;
}
.main-nav a:hover {
	color: #143028;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer,
.row {
	text-align: center;
}
.banner {
	color: #9BF6DD;
	background: #5E5DAA;
	padding: 3.2em 0;
	margin-bottom: 48px;
	}
.col {
	padding-right: 1em;
	padding-left: 1em;
	}
.main-footer {
	background: #9BF6DD;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 80%;
	cursor: pointer;
}
.headline {
	margin-bottom: 0;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	
	.tagline {
		font-size: 1.4em;
	}
	.main-header,
	.main-nav
	 {
		display: flex;
	}
	.main-header{
		flex-direction: column;
		align-items: center;
	}
		
}
@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}
	
}